body {
    font-family: Inter, sans-serif;
    background-color: hsl(240deg, 100%, 95%);
}

input {
    font-size: 16pt;
    font-family: monospace;
}

textarea {
    font-size: 16pt;
    font-family: monospace;
}

input[type=text] {
    width: 400px;
}

#main {
}

.mono {
    font-family: monospace;
}

div.maininput {
    margin-bottom: 10px;
}

#input {
}

div.maininputcolumn {
    display: inline-block;
    vertical-align: middle;
}

div.maininputcolumn button {
    font-size: 12pt;
}

div.mainoutput {
    font-size: 12pt;
}

div.outputgroupcolumn {
    display: inline-block;
    vertical-align: top;
}

div.outputgroup {
    position: relative;
    display: block;
    vertical-align: top;
    width: 600px;
    border: 2px inset silver;
    background-color: hsl(120deg, 100%, 95%);
    padding: 5px;
    margin-bottom: 10px;
}

div.outputgroupvoid {
    background-color: #eeeeee;
}

div.outputgrouprow {
    display: block;
    width: 100%;
    margin-bottom: 15px;
}

div.outputgrouptitle {
    display: block;
    width: 100%;
    font-size: 14pt;
    margin-bottom: 10px;
    text-align: left;
}

.inputtype {
    font-weight: bold;
}

div.outputgrouprowtitle {
    display: block;
    width: 100%;
    text-align: left;
    margin-top: 10px;
    border-top: 1px solid gray;
}

div.outputcellsubtitle {
    display: block;
    width: 100%;
    font-size: 10pt;
}

div.outputgrouprow {
    position: relative;
    display: block;
    width: 100%;
    text-align: center;
}

div.outputcellrow {
    display: block;
    margin-bottom: 5px;
}

div.outputcell {
    display: inline-block;
    text-align: center;
    vertical-align: top;
}

.outputcontainer {
}

.outputvalue {
    font-family: monospace;
    min-height: 16pt;
    line-height: 16pt;
    background-color: white;
    border: 1px solid silver;
}

.bigoutputvalue {
    min-height: 24pt;
    line-height: 24pt;
    font-size: 16pt;
}

/* Ordinary output values don't look like links, but if you click them they'll
 * bring you to index.html?i=[output value as new input] */
a.outputvaluelink {
    text-decoration: none;
    color: black;
}

a.outputvaluelink:hover {
    background-color: hsl(60deg, 100%, 80%);
}

.outputcontainervoid {
    background-color: silver;
}

div.outputcellbigcharacter {
    display: inline-block;
    font-family: sans-serif;
    height: 120px;
    width: 120px;
    line-height: 120px;
    font-size: 80px;
    text-align: center;
    border: 1px silver inset;
}

div.buttonblock {
    text-align: center;
}

div.buttonrow {
    margin-bottom: 5px;
}

div.buttongroup {
    display: inline-block;
    vertical-align: bottom;
    margin-left: 5px;
    margin-right: 5px;
}

div.buttongrouplegend {
    font-size: 10pt;
    color: gray;
    border-bottom: 1px solid gray;
    margin-bottom: 2px;
}

div.flagrow {
    display: block;
    text-align: right;
    width: 100%;
    font-size: 10pt;
}

div.cornerflags {
    display: block;
    position: absolute;
    text-align: right;
    right: 2px;
    top: 2px;
    font-size: 10pt;
}

div.flag {
    display: inline-block;
    visibility: hidden;
    padding-left: 0.5em;
    padding-right: 0.5em;
    background-color: hsl(60deg, 100%, 80%);
}

div.flagactive {
    visibility: visible;
}

a {
    text-decoration: none;
}

.outputtablefootnote {
    font-family: "Inter", sans-serif;
    font-style: italic;
    text-align: right;
    font-size: 10pt;
    background-color: none;
    margin-right: 0.5em;
    color: gray;
}

table.inttable th {
    font-weight: normal;
    font-size: 10pt;
}

td.rowtitle {
    text-align: center;
    font-weight: normal;
    font-size: 10pt;
}

table.inttable td label {
    display: block;
    width: 100%;
    height: 100%;
}

table.inttable td input[type=radio] {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

table.inttable td input[type=radio]:hover {
}

table.inttable tr.radiobuttonrow td:hover {
}

table.dyntable {
    border-collapse: collapse;
}

table.dyntable th {
    font-weight: normal;
    font-size: 10pt;
    text-align: left;
    border-left: 1px solid transparent;
}

table.dyntable td {
    border: 1px solid silver;
    background-color: white;
    padding: 2px;
    text-align: left;
}

table.dyntable td.unicodechar {
    font-family: sans-serif;
    text-align: center;
}

span.invalidbyte {
    color: red;
    border-bottom: 1pt dotted red;
}

span.invalidutf8 {
    color: red;
    border-bottom: 1pt dotted red;
}
