body {
    font-family: Inter, sans-serif;
    background-color: hsl(240deg, 100%, 95%);
}

input {
    font-size: 16pt;
    font-family: monospace;
}

textarea {
    font-size: 16pt;
    font-family: monospace;
}

input[type=text] {
    width: 400px;
}

div.maininput {
    margin-bottom: 10px;
}

div.mainoutput {
    font-size: 12pt;
}

div.outputgroup {
    display: inline-block;
    width: 600px;
    border: 2px inset silver;
    background-color: hsl(120deg, 100%, 95%);
    padding: 5px;
}

div.outputgrouprow {
    display: block;
    width: 100%;
    margin-bottom: 15px;
}

div.outputgrouptitle {
    display: block;
    width: 100%;
    font-size: 14pt;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: left;
}

div.outputcelltitle {
    display: block;
    width: 100%;
    text-align: left;
    margin-top: 10px;
    border-top: 1px solid gray;
}

div.outputcellsubtitle {
    display: block;
    width: 100%;
    font-size: 10pt;
}

div.outputgrouprow {
    display: block;
    width: 100%;
    text-align: center;
}

div.outputcell {
    display: inline-block;
    text-align: center;
    vertical-align: top;
}

.outputvalue {
    font-family: monospace;
    height: 16pt;
    line-height: 16pt;
    background-color: white;
    border: 1px solid silver;
}

.outputvaluevoid {
    background-color: silver;
}

div.outputcellbigcharacter {
    display: inline-block;
    font-family: sans-serif;
    height: 120px;
    width: 120px;
    line-height: 120px;
    font-size: 80px;
    text-align: center;
    border: 1px silver inset;
}

div.buttonblock {
    text-align: center;
}

div.buttonrow {
    margin-bottom: 5px;
}
